<h2><%= horse.name %></h2>
<p><i class="fa-solid fa-cake-candles"></i> <%= horse.age %></p>
<p><i class="fa-solid fa-horse"></i> <%= horse.breed %></p>
<p><i class="fa-solid fa-euro-sign"></i> <%= horse.price %></p>
<p><i class="fa-solid fa-location-dot"></i> <%= horse.location %></p>
