<div class="container-show">
  <div class="show-wrapper">
    <div>
      <div class="card-horse-home">
        <h2><%= @horse.name %></h2>
        <% if @horse.photo.key %>
        <%= cl_image_tag @horse.photo.key %>
        <% end %>
      </div>
      <div class="description">
        <h2>About <%= @horse.name %> :</h2>
        <p><%= @horse.description %></p>
      </div>
    </div>
    <div id="price-card">
      <h2>Details</h2>
      <p>Name : <%= @horse.name %>
      <p>Age : <%= @horse.age %>
      <p>Breed : <%= @horse.breed %></p>
      <p>Location : <%= @horse.location %></p>
    </div>

    <div id="booking-card">
      <h2>Booking</h2>
      <p>€<%= @horse.price.to_i %> per day</p>
      <div class="btn-pg-show">
        <%= link_to 'Request a booking', root_path,  class: "btn-call"%>
      </div>
       </form>
    </div>
  </div>
  <div class="edit">
    <% if @horse.user == current_user%>
      <%= link_to 'Edit', edit_horse_path(@horse), class: "btn-nrm" %>
      <%= link_to 'Delete', horse_path(@horse), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class:"btn-nrm" %>
    <% end %>
  </div>
</div>
