<div class="container mt-3">
  <div class="show-wrapper">
    <div>
      <div class="card-horse-show">
        <h3><%= @horse.name %></h3>
        <% if @horse.photo.key %>
        <%= cl_image_tag @horse.photo.key, class:"img-fluid" %>
        <% end %>
      </div>
      <div class="description">
        <p>About <%= @horse.name %>:</p>
        <p><%= @horse.description %></p>
      <% if @horse.user == current_user%>
        <%= link_to 'Edit', edit_horse_path(@horse), class: "btn-nrm" %>
        <%= link_to 'Delete', horse_path(@horse), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class:"btn-nrm" %>
      <% end %>
      </div>



    </div>
    <div id="price-card">
      <h3>Details</h3>
      <p><%= @horse.name %>
      <p><i class="fa-solid fa-cake-candles"></i> <%= @horse.age %>
      <p><i class="fa-solid fa-horse"></i> <%= @horse.breed %></p>
      <p><i class="fa-solid fa-location-dot"></i> <%= @horse.location %></p>
    </div>

    <div id="booking-card">
      <h3>Booking</h3>
      <p>€<%= @horse.price.to_i %> per day</p>
      <%= render 'bookings/form', booking: @booking %>
       </form>
    </div>
  </div>
</div>
