<div class="container">

  <div class="wrapper">
    <div class="card-horse">
      <h2><%= @horse.name %></h2>
      <% if @horse.photo.key %>
      <%= cl_image_tag @horse.photo.key, height: 350, width: 400, crop: :fit %>
      <% end %>
    </div>
    <div class="wrap">
      <h2>Details</h2>
      <p>Name : <%= @horse.name %>
      <p>Age : <%= @horse.age %>
      <p>Breed : <%= @horse.breed %></p>
      <p>Location : <%= @horse.location %></p>
    </div>
  </div>

  <div class="wrapper" >
    <div class="description">
      <h2>Description</h2>
      <p><%= @horse.description %></p>
    </div>
    <div id="price-card">
      <p>€<%= @horse.price %> per day</p>
      <%= link_to 'Request a booking', root_path,  class: "btn-show"%>
    </div>
  </div>

  <div class="edit">
    <% if @horse.user == current_user%>
      <%= link_to 'Edit', edit_horse_path(@horse), class: "btn-show" %>
      <%= link_to 'Delete', horse_path(@horse), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class:"btn-show" %>
    <% end %>
  </div>

</div>
