<div class="container">
  <div class="wrapper">
    <div class="card-horse">
      <h2><%= @horse.name %></h2>
      <img src="http://kitt.lewagon.com/placeholder/cities/shanghai"/>
    </div>
    <div class="wrap">
      <div>
        <p>Name : <%= @horse.name %>
        <p>Age : <%= @horse.age %>
        <p>Breed : <%= @horse.breed %></p>
        <p>Location : <%= @horse.location %></p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="description">
      <h2>Description</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <br/><%= @horse.description %></p>
    </div>
    <div>
      <p><b></b><%= @horse.price %>€</p>
      <p><%= button_to 'Request a booking' %></p>
    </div>
  </div>
</div>
