
    <div class="card-booking">
      <%= link_to cl_image_tag(booking.horse.photo.key), booking.horse, class: "image" %>
      <%# <%= cl_image_tag(booking.horse.photo.key) %>
      <div class="card-booking-infos">
        <h3><%= link_to booking.horse.name, horse_path(booking.horse) %></h3>
        <p>
          <strong>Booked from:</strong> <%= booking.from_date.strftime("%d/%m/%Y") %><BR>
          <strong>Booked to:</strong> <%= booking.to_date.strftime("%d/%m/%Y") %>
        </p>
        <p>
          <strong>Total price:</strong> €<%= booking.price %> for <%= booking.days %> day<%= "s" if booking.days > 1 %><BR>
          <strong>Status</strong>: <%= booking.symbol %> <%= booking.status.capitalize %> </p>
            <%= render 'buttons', booking: booking %>
      </div>
  </div>
