<ul>
  <%= @bookings.each do |booking| %>
      <li><strong><%= booking.horse.name %></strong></li>
    <li><strong>Days:</strong> <%= (days = booking.to_date - booking.from_date).to_i %></li>
    <li><strong>Total price:</strong> <%= (days * booking.horse.price) %></li>
    <%# This is just for testing,
    maybe calculations should be in a controller method? %>
    From <%= booking.from_date %> <BR>
    To <%= booking.to_date %> <BR>
    <li><strong>Status:</strong> <%= booking.status %><BR><BR>
  <% end %>
</ul>
