<%# Dashboard ideas: show bookings fist, then show horses when current user is owner %>

<div class="container mt-3">
  <%= render 'horse_owner' if current_user.horses.count >= 1 %>
  <%= render 'horse_user' if current_user.horses.count < 1 %>

  <p>
  <strong>Cancellation policy</strong> || Can you image how excited the horse is for their stay? We're sure they simply can't wait!
  This is why it unfortunately is not possible to cancel your booking after confirmation.
  We don't wanna dissapoint the horses, do we?
  However, after a booking is confirmed,
  you can still change the dates through the edit button that will now appear at the bottom of your booking.</p>


  <div class="wrapper">
    <div class="cards-booking">
      <% @bookings.each do |booking| %>
        <%= render 'card_bookings', booking: booking %>
        <% end %>
    </div>
 </div>

  <%= render 'horses' if current_user.horses.count >= 1 %>
  <%= link_to "Find a horse near you", root_path, class: "btn btn-call" %>
</div>


