<div class="navbar navbar-expand-sm navbar-light navbar-horse sticky">
  <div class="container-fluid">
    <div class="container-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "horse_logo.jpg", height: 50 %>
      <% end %>
      <h3>Marebnb</h3>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

 <div class="text-center">
    <%= form_with url: horses_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control btn-show",
      placeholder: "Breed,location,Price"
      %>
      <%= submit_tag "search", class: "btn-mare-bnb" %>
    <% end %>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="name-card">
        <%= link_to "Marebnb your horse", new_horse_path, class: "btn-mare-bnb" %>
        <% if current_user %>
        <p>Hello  <%= current_user.first_name %>!</p>
        <% end %>
      </div>
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "menubar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if !current_user %>
              <%= link_to "Signup", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <% end %>
              <% if current_user %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
              class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
