<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 border">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
      data: {turbo: false}) do |f| %>
      <div class="form-inputs align-items-center">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-show"%>
      </div>
    <% end %>

    <%= render "devise/shared/links", class: "btn-show"%>
    </div>
  </div>
</div>
